
	/* The Modal (background) */
	.modal-outer-body {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 3; /* Sit on top */
		padding-top: 180px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 600px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}

	/* Add Animation */
	@-webkit-keyframes animatetop {
		from {top:-300px; opacity:0} 
		to {top:0; opacity:1}
	}

	@keyframes animatetop {
		from {top:-300px; opacity:0}
		to {top:0; opacity:1}
	}

	/* The Close Button */
	.close {
		color: #000000;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

	.modal-header {
		height: 40px;
		background-color: #eceff4;	
		padding:8px;
	}

	.modal-body {
		padding: 25px 20px;
		overflow:auto;
	}

	.modal-footer {
		background-color: #eceff4;
		color: white;
		/*height: 40px;*/
		padding: 0px 5px 0px 0px;
	}

	.modal-footer button {
		margin:10px 5px 5px 5px;
		float:right;
	}
	
	.tg {
		line-height:1;
		border-collapse:collapse;
		border-spacing:0;
		font-weight:bold;
		padding:2px;
		width:515px;		
	}

	.tg td {
		padding:10px 5px;
		border-style:solid #FFFFFF;
		border-width:1px;
		overflow:hidden;
		word-break:normal;
	}

	.tg th {
		font-weight:normal;
		padding:1px 25px;
		border-style:solid #FFFFFF;
		border-width:1px;
		overflow:hidden;
		word-break:normal;
	}
	.tg .tg-yw4l {
		text-align:center;
		padding:5px 15px 3px 10px;
		font-weight:bold;
	}

	.tg .tg-yw42{
		text-align:center;
	}

	.tg input[type=number]{
		border: 0;
		outline: 0;
		background: transparent;
		border-bottom: 2px solid #DDDDDD;
		width: 50px;
		padding: 5px;
		text-align:center;
	}

	.tg input[type=text]{
		border: 0;
		outline: 0;
		background: transparent;
		border-bottom: 2px solid #DDDDDD;
		width: 55px;
		padding: 5px;
		text-align:center;
	}
	
	.modal-content button 	{
		width:150px;
		height:40px;
		padding:5px;
		color: #FFFFFF;
		background-color: #01a8fe;
		border: none;
		display: inline-block;
		outline: 0;
		padding: 6px 16px;
		vertical-align: middle;
		text-decoration: none!important;
		text-align: center;
		cursor: pointer;
		white-space: nowrap;
		margin: 10px 10px 10px 10px;
	}
	
	.modal-content button:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		background-color:#1fb2fe;
	}

	select {
		padding: 5px 5px 5px 5px;
	}
	
	.modal-left-body {
		width: 450px;
		overflow:visible;
		float:left;
	}
	 
	.modal-right-body {
		float:right;
		padding: 20px;
		vertical-align:middle;
	}
	
	.modal-right-body-bottom {
		position: absolute;
		right:10px;
		bottom:15px;
	}
	
	.modal-right-body-middle {
		position: absolute;
		right:40px;
		bottom:300px;
	}
	.printbox{
		padding:10%;
	}
